.submitBtn {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #1993ff;
  height: 42px;
  width: 100%;
  border-radius: 6px;
  margin-top: 40px;
}

.submitBtn:disabled {
  background-color: #aaaaaa;
  color: #fff;
}

.loading {
  width: 26px;
  height: 26px;
}
